In [104]:
# Import Libraries and Dependencies
import pandas as pd

### 1. Combine and Clean the Data
#### Import CSVs

In [107]:
# Load the .csv file
df_2020 = pd.read_csv('athletic_sales_2020.csv')
df_2021 = pd.read_csv('athletic_sales_2021.csv')

# Display the contents of the file
print(df_2020)
print(df_2021)

         retailer  retailer_id invoice_date     region         state  \
0     Foot Locker      1185732       1/1/20  Northeast      New York
1     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
2     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
3     Foot Locker      1185732       1/1/20  Northeast      New York
4     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
...           ...          ...          ...        ...           ...
1292    West Gear      1128299     12/30/20       West    California
1293    West Gear      1128299     12/30/20       West    California
1294       Kohl's      1189833     12/30/20    Midwest     Minnesota
1295       Kohl's      1189833     12/30/20    Midwest     Minnesota
1296    West Gear      1128299     12/30/20       West    California

               city                  product  price_per_unit  units_sold  \
0          New York    Men's Street Footwear              50        1200
1      Philadelphia          Women's Apparel              68          83
2      Philadelphia          Women's Apparel              75         275
3          New York    Men's Street Footwear              34         384
4      Philadelphia          Women's Apparel              53          83
...             ...                      ...             ...         ...
1292  San Francisco          Women's Apparel              72         203
1293  San Francisco          Women's Apparel              80         700
1294    Minneapolis  Women's Street Footwear              41         119
1295    Minneapolis  Women's Street Footwear              45         475
1296  San Francisco          Women's Apparel              62         245

      total_sales  operating_profit sales_method
0          600000         300000.00     In-store
1            5644           2426.92       Online
2          206250          61875.00       Outlet
3           13056           6789.12       Outlet
4            4399           1407.68       Outlet
...           ...               ...          ...
1292        14616           3946.32       Online
1293       560000          84000.00       Outlet
1294         4879           2878.61       Online
1295       213750          96187.50       Outlet
1296        15190           2886.10       Outlet

[1297 rows x 12 columns]
         retailer  retailer_id invoice_date     region         state  \
0       West Gear      1128299       1/1/21       West    California
1       West Gear      1128299       1/1/21       West    California
2          Kohl's      1189833       1/1/21    Midwest       Montana
3          Kohl's      1189833       1/1/21    Midwest       Montana
4       West Gear      1128299       1/1/21       West    California
...           ...          ...          ...        ...           ...
8341  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
8342  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
8343       Amazon      1185732     12/31/21  Northeast         Maine
8344       Amazon      1185732     12/31/21  Northeast         Maine
8345  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania

               city                  product  price_per_unit  units_sold  \
0     San Francisco  Men's Athletic Footwear              65         750
1     San Francisco  Men's Athletic Footwear              51         233
2          Billings            Men's Apparel              50         275
3          Billings            Men's Apparel              47          77
4     San Francisco  Men's Athletic Footwear              64         225
...             ...                      ...             ...         ...
8341   Philadelphia            Men's Apparel              63          47
8342   Philadelphia            Men's Apparel              46          56
8343       Portland            Men's Apparel              52          36
8344       Portland            Men's Apparel              55         125
8345   Philadelphia            Men's Apparel              70         175

      total_sales  operating_profit sales_method
0          487500         121875.00       Outlet
1           11883           3208.41       Outlet
2          137500          82500.00       Outlet
3            3619           2714.25       Online
4           14400           5184.00       Online
...           ...               ...          ...
8341         2961           1362.06       Online
8342         2576           1004.64       Outlet
8343         1872            692.64       Online
8344        68750          17187.50       Outlet
8345       122500          42875.00       Outlet

[8346 rows x 12 columns]

In [109]:
# Read the CSV files into DataFrames.
df_2020 = pd.read_csv('athletic_sales_2020.csv')
df_2021 = pd.read_csv('athletic_sales_2021.csv')

In [111]:
# Display the 2020 sales DataFrame
print(df_2020)

         retailer  retailer_id invoice_date     region         state  \
0     Foot Locker      1185732       1/1/20  Northeast      New York
1     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
2     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
3     Foot Locker      1185732       1/1/20  Northeast      New York
4     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
...           ...          ...          ...        ...           ...
1292    West Gear      1128299     12/30/20       West    California
1293    West Gear      1128299     12/30/20       West    California
1294       Kohl's      1189833     12/30/20    Midwest     Minnesota
1295       Kohl's      1189833     12/30/20    Midwest     Minnesota
1296    West Gear      1128299     12/30/20       West    California

               city                  product  price_per_unit  units_sold  \
0          New York    Men's Street Footwear              50        1200
1      Philadelphia          Women's Apparel              68          83
2      Philadelphia          Women's Apparel              75         275
3          New York    Men's Street Footwear              34         384
4      Philadelphia          Women's Apparel              53          83
...             ...                      ...             ...         ...
1292  San Francisco          Women's Apparel              72         203
1293  San Francisco          Women's Apparel              80         700
1294    Minneapolis  Women's Street Footwear              41         119
1295    Minneapolis  Women's Street Footwear              45         475
1296  San Francisco          Women's Apparel              62         245

      total_sales  operating_profit sales_method
0          600000         300000.00     In-store
1            5644           2426.92       Online
2          206250          61875.00       Outlet
3           13056           6789.12       Outlet
4            4399           1407.68       Outlet
...           ...               ...          ...
1292        14616           3946.32       Online
1293       560000          84000.00       Outlet
1294         4879           2878.61       Online
1295       213750          96187.50       Outlet
1296        15190           2886.10       Outlet

[1297 rows x 12 columns]

In [113]:
# Display the 2021 sales DataFrame
print(df_2021)

         retailer  retailer_id invoice_date     region         state  \
0       West Gear      1128299       1/1/21       West    California
1       West Gear      1128299       1/1/21       West    California
2          Kohl's      1189833       1/1/21    Midwest       Montana
3          Kohl's      1189833       1/1/21    Midwest       Montana
4       West Gear      1128299       1/1/21       West    California
...           ...          ...          ...        ...           ...
8341  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
8342  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
8343       Amazon      1185732     12/31/21  Northeast         Maine
8344       Amazon      1185732     12/31/21  Northeast         Maine
8345  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania

               city                  product  price_per_unit  units_sold  \
0     San Francisco  Men's Athletic Footwear              65         750
1     San Francisco  Men's Athletic Footwear              51         233
2          Billings            Men's Apparel              50         275
3          Billings            Men's Apparel              47          77
4     San Francisco  Men's Athletic Footwear              64         225
...             ...                      ...             ...         ...
8341   Philadelphia            Men's Apparel              63          47
8342   Philadelphia            Men's Apparel              46          56
8343       Portland            Men's Apparel              52          36
8344       Portland            Men's Apparel              55         125
8345   Philadelphia            Men's Apparel              70         175

      total_sales  operating_profit sales_method
0          487500         121875.00       Outlet
1           11883           3208.41       Outlet
2          137500          82500.00       Outlet
3            3619           2714.25       Online
4           14400           5184.00       Online
...           ...               ...          ...
8341         2961           1362.06       Online
8342         2576           1004.64       Outlet
8343         1872            692.64       Online
8344        68750          17187.50       Outlet
8345       122500          42875.00       Outlet

[8346 rows x 12 columns]

#### Check the data types of each DataFrame

In [116]:
# Check the 2020 sales data types.
print(df_2020.dtypes)

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [118]:
# Check the 2021 sales data types.
print(df_2021.dtypes)

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

#### Combine the sales data by rows.

In [121]:
# Check if any values are null.
combined_df = pd.concat([df_2020, df_2021], ignore_index=True)
print(combined_df.isnull().sum())

retailer            0
retailer_id         0
invoice_date        0
region              0
state               0
city                0
product             0
price_per_unit      0
units_sold          0
total_sales         0
operating_profit    0
sales_method        0
dtype: int64

In [123]:
# Combine the 2020 and 2021 sales DataFrames on the rows and reset the index.
combined_df = pd.concat([df_2020, df_2021], ignore_index=True)
print(combined_df.head())

      retailer  retailer_id invoice_date     region         state  \
0  Foot Locker      1185732       1/1/20  Northeast      New York
1  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
2  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
3  Foot Locker      1185732       1/1/20  Northeast      New York
4  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania

           city                product  price_per_unit  units_sold  \
0      New York  Men's Street Footwear              50        1200
1  Philadelphia        Women's Apparel              68          83
2  Philadelphia        Women's Apparel              75         275
3      New York  Men's Street Footwear              34         384
4  Philadelphia        Women's Apparel              53          83

   total_sales  operating_profit sales_method
0       600000         300000.00     In-store
1         5644           2426.92       Online
2       206250          61875.00       Outlet
3        13056           6789.12       Outlet
4         4399           1407.68       Outlet

In [125]:
# Check the data type of each column
print(combined_df.dtypes)

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [127]:
# Convert the "invoice_date" to a datetime datatype
pd.to_datetime(combined_df['invoice_date'], format='%m/%d/%y')

0      2020-01-01
1      2020-01-01
2      2020-01-01
3      2020-01-01
4      2020-01-01
          ...
9638   2021-12-31
9639   2021-12-31
9640   2021-12-31
9641   2021-12-31
9642   2021-12-31
Name: invoice_date, Length: 9643, dtype: datetime64[ns]

In [129]:
# Confirm that the "invoice_date" data type has been changed.
print(combined_df.dtypes)

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

### 2. Determine which Region Sold the Most Products

#### Using `groupby`

In [133]:
# Show the number products sold for region, state, and city.
grouped_df = combined_df.groupby(['region', 'state', 'city']).agg({'units_sold': 'sum'})
# Rename the sum to "Total_Products_Sold".
grouped_df.rename(columns={'units_sold': 'Total_Products_Sold'}, inplace=True)



# Show the top 5 results.
top_regions = grouped_df.sort_values(by='Total_Products_Sold', ascending=False).head(5)
print(top_regions)

                                    Total_Products_Sold
region    state      city
Northeast New York   New York                    111954
South     Texas      Houston                      90322
West      California San Francisco                85478
                     Los Angeles                  76384
Southeast Florida    Miami                        73135

#### Using `pivot_table`

In [136]:
# Show the number products sold for region, state, and city.
pivot_df = pd.pivot_table(combined_df, values='units_sold', index=['region', 'state', 'city'], aggfunc='sum')
# Rename the "units_sold" column to "Total_Products_Sold"
pivot_df.rename(columns={'units_sold': 'Total_Products_Sold'}, inplace=True)
# Show the top 5 results.
top_regions_pivot = pivot_df.sort_values(by='Total_Products_Sold', ascending=False).head(5)
print(top_regions_pivot)

                                    Total_Products_Sold
region    state      city
Northeast New York   New York                    111954
South     Texas      Houston                      90322
West      California San Francisco                85478
                     Los Angeles                  76384
Southeast Florida    Miami                        73135

### 3. Determine which Region had the Most Sales

#### Using `groupby`

In [140]:
# Show the total sales for the products sold for each region, state, and city.
sales_grouped_df = combined_df.groupby(['region', 'state', 'city']).agg({'total_sales': 'sum'})
# Rename the "total_sales" column to "Total Sales"
sales_grouped_df.rename(columns={'total_sales': 'Total_Sales'}, inplace=True)

# Show the top 5 results.
top_sales_regions = sales_grouped_df.sort_values(by='Total_Sales', ascending=False).head(5)
print(top_sales_regions)

                                        Total_Sales
region    state          city
Northeast New York       New York          39801235
West      California     San Francisco     33973228
Southeast Florida        Miami             31600863
          South Carolina Charleston        29285637
          Florida        Orlando           27682851

#### Using `pivot_table`

In [143]:
# Show the total sales for the products sold for each region, state, and city.
sales_pivot_df = pd.pivot_table(combined_df, values='total_sales', index=['region', 'state', 'city'], aggfunc='sum')


# Optional: Rename the "total_sales" column to "Total Sales"
sales_pivot_df.rename(columns={'total_sales': 'Total_Sales'}, inplace=True)

# Show the top 5 results.
top_sales_regions_pivot = sales_pivot_df.sort_values(by='Total_Sales', ascending=False).head(5)

print(top_sales_regions_pivot)

                                        Total_Sales
region    state          city
Northeast New York       New York          39801235
West      California     San Francisco     33973228
Southeast Florida        Miami             31600863
          South Carolina Charleston        29285637
          Florida        Orlando           27682851

### 4. Determine which Retailer had the Most Sales

#### Using `groupby`

In [147]:
# Show the total sales for the products sold for each retailer, region, state, and city.
retailer_grouped_df = combined_df.groupby(['retailer', 'region', 'state', 'city']).agg({'total_sales': 'sum'})
# Rename the "total_sales" column to "Total Sales"
retailer_grouped_df.rename(columns={'total_sales': 'Total_Sales'}, inplace=True)


# Show the top 5 results.
top_sales_retailers = retailer_grouped_df.sort_values(by='Total_Sales', ascending=False).head(5)

print(top_sales_retailers)

                                                    Total_Sales
retailer    region    state          city
West Gear   West      California     San Francisco     32794405
Kohl's      West      California     Los Angeles       25127160
Foot Locker Northeast New York       New York          25008568
West Gear   West      Washington     Seattle           24862675
Foot Locker Southeast South Carolina Charleston        24822280

#### Using `pivot_table`

In [150]:
# Show the total sales for the products sold for each retailer, region, state, and city.
retailer_pivot_df = pd.pivot_table(combined_df, values='total_sales', index=['retailer', 'region', 'state', 'city'], aggfunc='sum')


# Optional: Rename the "total_sales" column to "Total Sales"
retailer_pivot_df.rename(columns={'total_sales': 'Total_Sales'}, inplace=True)


# Show the top 5 results.
top_sales_retailers_pivot = retailer_pivot_df.sort_values(by='Total_Sales', ascending=False).head(5)

print(top_sales_retailers_pivot)

                                                    Total_Sales
retailer    region    state          city
West Gear   West      California     San Francisco     32794405
Kohl's      West      California     Los Angeles       25127160
Foot Locker Northeast New York       New York          25008568
West Gear   West      Washington     Seattle           24862675
Foot Locker Southeast South Carolina Charleston        24822280

### 5. Determine which Retailer Sold the Most Women's Athletic Footwear

In [153]:
# Filter the sales data to get the women's athletic footwear sales data.
womens_footwear_df = combined_df[combined_df['product'].str.contains('Women\'s Athletic Footwear')]
print(womens_footwear_df)

         retailer  retailer_id invoice_date     region         state  \
21    Foot Locker      1185732       1/4/20  Northeast      New York
22    Foot Locker      1185732       1/4/20  Northeast      New York
23    Foot Locker      1185732       1/4/20  Northeast      New York
26      West Gear      1128299       1/5/20  Northeast  Pennsylvania
27      West Gear      1128299       1/5/20  Northeast  Pennsylvania
...           ...          ...          ...        ...           ...
9633  Foot Locker      1185732     12/30/21  Northeast  Pennsylvania
9634  Foot Locker      1185732     12/30/21  Northeast  Pennsylvania
9635       Amazon      1185732     12/30/21  Northeast         Maine
9636       Amazon      1185732     12/30/21  Northeast         Maine
9637  Foot Locker      1185732     12/30/21  Northeast  Pennsylvania

              city                    product  price_per_unit  units_sold  \
21        New York  Women's Athletic Footwear              36         281
22        New York  Women's Athletic Footwear              41         247
23        New York  Women's Athletic Footwear              45         850
26    Philadelphia  Women's Athletic Footwear              45         300
27    Philadelphia  Women's Athletic Footwear              34          90
...            ...                        ...             ...         ...
9633  Philadelphia  Women's Athletic Footwear              57          53
9634  Philadelphia  Women's Athletic Footwear              40          53
9635      Portland  Women's Athletic Footwear              42          36
9636      Portland  Women's Athletic Footwear              45         125
9637  Philadelphia  Women's Athletic Footwear              60         175

      total_sales  operating_profit sales_method
21          10116           3742.92       Outlet
22          10127           4658.42       Online
23         382500         133875.00     In-store
26         135000          47250.00       Outlet
27           3060           1254.60       Outlet
...           ...               ...          ...
9633         3021           1601.13       Online
9634         2120            954.00       Outlet
9635         1512            680.40       Online
9636        56250          16875.00       Outlet
9637       105000          42000.00       Outlet

[1604 rows x 12 columns]

#### Using `groupby`

In [156]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
womens_footwear_grouped_df = womens_footwear_df.groupby(['retailer', 'region', 'state', 'city']).agg({'units_sold': 'sum'})

# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
womens_footwear_grouped_df.rename(columns={'units_sold': 'Womens_Footwear_Units_Sold'}, inplace=True)


# Show the top 5 results.
top_womens_footwear_retailers = womens_footwear_grouped_df.sort_values(by='Womens_Footwear_Units_Sold', ascending=False).head(5)

print(top_womens_footwear_retailers)

                                                      Womens_Footwear_Units_Sold
retailer      region    state          city
West Gear     West      California     San Francisco                       12107
Foot Locker   Northeast New York       New York                            10996
Kohl's        West      California     Los Angeles                         10826
Foot Locker   Southeast South Carolina Charleston                           8814
Sports Direct South     Texas          Dallas                               8790

#### Using `pivot_table`

In [159]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
womens_footwear_pivot_df = pd.pivot_table(womens_footwear_df, values='units_sold', index=['retailer', 'region', 'state', 'city'], aggfunc='sum')


# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
womens_footwear_pivot_df.rename(columns={'units_sold': 'Womens_Footwear_Units_Sold'}, inplace=True)


# Show the top 5 results.
top_womens_footwear_retailers_pivot = womens_footwear_pivot_df.sort_values(by='Womens_Footwear_Units_Sold', ascending=False).head(5)
print(top_womens_footwear_retailers_pivot)

                                                      Womens_Footwear_Units_Sold
retailer      region    state          city
West Gear     West      California     San Francisco                       12107
Foot Locker   Northeast New York       New York                            10996
Kohl's        West      California     Los Angeles                         10826
Foot Locker   Southeast South Carolina Charleston                           8814
Sports Direct South     Texas          Dallas                               8790

### 6. Determine the Day with the Most Women's Athletic Footwear Sales

In [162]:
# Create a pivot table with the 'invoice_date' column is the index, and the "total_sales" as the values.
daily_sales_pivot_df = pd.pivot_table(womens_footwear_df, values='total_sales', index='invoice_date', aggfunc='sum')


# Optional: Rename the "total_sales" column to "Total Sales"
daily_sales_pivot_df.rename(columns={'total_sales': 'Total_Sales'}, inplace=True)


# Show the table.
print(daily_sales_pivot_df)

              Total_Sales
invoice_date
1/10/21            315859
1/11/20            129556
1/11/21             66584
1/12/21            405693
1/13/21            256764
...                   ...
9/6/21             103419
9/7/21             241024
9/8/20             726106
9/8/21             242278
9/9/21             388630

[355 rows x 1 columns]

In [164]:
# Convert the index of daily_sales_pivot_df to a DatetimeIndex
daily_sales_pivot_df.index = pd.to_datetime(daily_sales_pivot_df.index)

# Resample the pivot table into daily bins, and get the total sales for each day.
daily_sales_resampled = daily_sales_pivot_df.resample('D').sum()

# Sort the resampled pivot table in descending order on "Total Sales".
daily_sales_resampled_sorted = daily_sales_resampled.sort_values(by='Total_Sales', ascending=False)

print("Daily Sales Resampled:")
print(daily_sales_resampled)
print("\nDaily Sales Resampled Sorted:")
print(daily_sales_resampled_sorted)

Daily Sales Resampled:
              Total_Sales
invoice_date
2020-01-04         402743
2020-01-05         141801
2020-01-06              0
2020-01-07              0
2020-01-08              0
...                   ...
2021-12-26              0
2021-12-27              0
2021-12-28              0
2021-12-29              0
2021-12-30         167903

[727 rows x 1 columns]

Daily Sales Resampled Sorted:
              Total_Sales
invoice_date
2021-07-16        1521825
2021-12-16        1473497
2021-06-17        1376988
2021-08-17        1086294
2021-07-23        1021806
...                   ...
2021-02-27              0
2021-02-25              0
2020-07-30              0
2020-07-31              0
2021-01-01              0

[727 rows x 1 columns]

/var/folders/07/6wrk2d5d7_ggvw77n55lwq_40000gn/T/ipykernel_1361/2479924662.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  daily_sales_pivot_df.index = pd.to_datetime(daily_sales_pivot_df.index)

### 7.  Determine the Week with the Most Women's Athletic Footwear Sales

In [167]:
# Resample the pivot table into weekly bins, and get the total sales for each week.
weekly_sales_resampled = daily_sales_pivot_df.resample('W').sum()

daily_sales_pivot_df.index = pd.to_datetime(daily_sales_pivot_df.index)

# Sort the resampled pivot table in descending order on "Total Sales".
weekly_sales_resampled_sorted = weekly_sales_resampled.sort_values(by='Total_Sales', ascending=False)
print("\nWeekly Sales Resampled:")
print(weekly_sales_resampled)
print("\nWeekly Sales Resampled Sorted:")
print(weekly_sales_resampled_sorted)

Weekly Sales Resampled:
              Total_Sales
invoice_date
2020-01-05         544544
2020-01-12         129556
2020-01-19         173013
2020-01-26         576275
2020-02-02         566793
...                   ...
2021-12-05        1741630
2021-12-12        2922161
2021-12-19        3098970
2021-12-26        1719976
2022-01-02         167903

[105 rows x 1 columns]

Weekly Sales Resampled Sorted:
              Total_Sales
invoice_date
2021-12-19        3098970
2021-12-12        2922161
2021-07-11        2835078
2021-07-18        2801449
2021-11-14        2531721
...                   ...
2020-12-06          62801
2020-12-20          61710
2020-12-13          58916
2020-11-22          53940
2020-10-18              0

[105 rows x 1 columns]